<div class="jumbotron">
<h1>The rental place</h1>
  <h2>where you can rent direct from those near you</h2>
  </div>

<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image.url), listing %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= "Rent From #{listing.user.name}" %></p>
            <p>only</p>
            <p><%= number_to_currency(listing.price) %> daily</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>    

<br>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>

